body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    --color-principal: #D72323;
    --color-alterno:#EEEEEE;
    --color-claro:#3A4750;
    --color-oscuro:#303841;
    font-family: 'Inconsolata', monospace;
    font-size: 62.5%;
    background-image: url(https://i.ytimg.com/vi/Uq7kyf1T_lk/maxresdefault.jpg);
}
a{
    text-decoration: none;
    display: inline;
    color: var(--color-alterno);
}
a:hover{
    text-decoration: underline;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header__icons{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--color-oscuro);
}
header .header__icons .header__icons-icon{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .header__icons-icon a{
    font-size: 24px;
    color: white;
}
header .header__icons-icon a:hover{
    font-size: 28px;
    color:var(--color-alterno);
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav__logo{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}
nav .nav__logo img{
    width: 220px;
    margin-top: 10px;
}
nav .nav__profile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    font-size: 1.6rem;
}
main{
    color: var(--color-alterno);
    font-size: 3.5rem;
}
main .main__title{
    padding-left: 25%;
    width: 50%;
    padding-right: 25%;
    text-align: center;
}
main .main__button a{
    background-color: var(--color-oscuro);
    font-size: 2rem;
    color: white;
    font-family: 'Inconsolata', monospace;
    margin-left: calc(50% - 100px);
    border-radius: 40px;
    padding: 20px;
    text-decoration: none;
}
main .main__button a:hover{
    background-color: var(--color-claro);
    transform: scale(1.1);
    cursor: pointer;
}
.principal{
    background-color: var(--color-alterno);
    height: 380px;
}
.article, .otros__detalle,.blog-principal__contenido{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.article h2{
    padding-top: 20px;
}
.article .article__contenidos{
    display: flex;
    justify-content: space-evenly;
}
.article .article__imagen img{
    width: 500px;
}
.article__descripcion{
    margin-left: 50px;
}
.article__descripcion-titulo{
    font-size: 2rem;
}
.article__descripcion-parrafo{
    font-size: 1rem;
}
.article__descripcion a{
    color: var(--color-alterno);
    font-size: .9rem;
    background-color: var(--color-claro);
    padding: 10px;
}
.otros{
    background-color: var(--color-oscuro);
    color: var(--color-alterno);
    padding-bottom: 20px;
}
.otros__detalle > p{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 10px;
    margin-top: 0;
}
.otros .otros__articulo{
    margin-top: 15px;
    margin-right: 15px;
    max-width: 310px;
    height: 390px;
    padding: 15px;
    /* border: 1px solid red; */
    box-shadow: 7px 7px 5px black;
    background-color: var(--color-claro);
}
.otros_detalles-articulos{
    display: grid;
    grid-template-columns: auto auto auto;
}
.otros .otros__detalle-titulo{
    font-size: .9rem;
    font-weight: bold;
}
.otros .otros__detalle-parrafo{
    font-size: .7rem;
    line-height: 1.5em;
}
.otros .otros__articulo img{
    max-width: 300px;
    height: 200px;
}
.otros .otros__articulo a{
    background-color: var(--color-alterno);
    font-size: .7rem;
    color:var(--color-claro);
    font-family: 'Inconsolata', monospace;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    display: table-cell;
    vertical-align: bottom;  
}
.otros .otros__articulo a:hover{
    background-color: white;
    cursor: pointer;
}
.blog-princial{
    background-color: var(--color-alterno);
    padding-bottom: 20px;
}
.blog-princial .blog-princial__imagen img{
    max-width: 100%;
    padding-top: 20px;
}
.blog-princial hr{
    max-width: 80%;
    display: flex;
    justify-content: center;
} 
.blog-princial h3{
    margin-left: 10%;
} 
.blog-principal__titulo{
    margin-left: 10%;
    font-size: 3rem;
    font-weight: bold;
}
.blog-principal__contenido p{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1rem;
    line-height: 1.5em;
}
.blog-principal__contenido iframe{
    margin-left: calc(50% - 280px);
}
.contacto{
    width: 60%;
    padding-left: 21%;
    padding-right: 20%;
    background-color: var(--color-claro);
    color: var(--color-alterno);
    display: flex;
    justify-content: space-between;
}
.contacto__1{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 50%;
}
.contacto__1-detalle,.contacto__2-detalle h3{
    font-size: 1.2rem;
    margin-left: 20px;
}
.contacto__1-detalle,.contacto__2-detalle p{
    font-size: .8rem;
    margin-left: 20px;
}
.contacto img{
    width: 100px;
}
.contacto__2{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 50%;
}
.sobre-mi{
    background-color: var(--color-alterno);
    display: flex;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1rem;
}
.descripcion h3{
    font-size: 1.4rem;
}
.sobre-mi img{
    width: 30%;
    margin-right: 50px;
    border-radius: 30px;
}


footer{
    background-color: var(--color-alterno);
    height: 40px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 20px solid var(--color-principal);
}
footer a{
    color: var(--color-oscuro);
}